#s-81ec854f-9587-42b6-ac8f-f34fa96ec55c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-81ec854f-9587-42b6-ac8f-f34fa96ec55c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}