#s-81ec854f-9587-42b6-ac8f-f34fa96ec55c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-81ec854f-9587-42b6-ac8f-f34fa96ec55c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}