#s-923c208b-af61-46dc-b987-7b42432accce #s-Rich_text_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-923c208b-af61-46dc-b987-7b42432accce #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-923c208b-af61-46dc-b987-7b42432accce #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-923c208b-af61-46dc-b987-7b42432accce #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-923c208b-af61-46dc-b987-7b42432accce #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-923c208b-af61-46dc-b987-7b42432accce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}