#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 #s-Rich_text_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bf9aaafe-f287-4cfa-9d98-a1cea4e982a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}