#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 20px;
  left: 1px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_3 {
  width: 249px;
  height: 548px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_4 {
  width: 303px;
  height: 498px;
  background-color: #FFFFFF;
  background-image: none;
  border-left-width: 16px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_57 {
  width: 254px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_57 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_53 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_53 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_54 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_54 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_55 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_55 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_56 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_56 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_58 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_58 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_59 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_59 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_61 {
  width: 233px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_61 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 20px;
  left: 251px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_1 {
  width: 69px;
  height: 548px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Dynamic_Panel_6 {
  position: absolute;
  top: 46px;
  left: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_6 {
  width: 320px;
  height: 503px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 323px;
  height: 972px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 44px;
  background-color: #F6F5F1;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rich_text_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_3 {
  position: absolute;
  top: 9px;
  left: 80px;
  width: 135px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 700;
  line-height: 14pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_4 {
  position: absolute;
  top: 9px;
  left: 253px;
  width: 55px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: 12pt;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_map_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_92 {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}