#s-f48eee76-4316-43ec-a259-bb95aeb68530 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f48eee76-4316-43ec-a259-bb95aeb68530 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}